@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
 
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


input[type="checkbox"] {
  margin-top:auto;
  margin-bottom:auto;
  width: 1em; 
  height: 1em;
  margin-right: 0.5em;
  cursor: pointer;
  accent-color: rgb(11, 41, 122);
  border: 2px solid rgb(11, 41, 122); 
}


input[type="radio"] {
  margin-top:auto;
  margin-bottom:auto;
  width: 1em; 
  height: 1em; 
  margin-right: 0.5em; 
  border: 2px solid rgb(11, 41, 122); 
  border-radius: 50%; 
  accent-color: rgb(11, 41, 122);
  cursor: pointer; 
}
